{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <title>LOgIn Menu</title>
</head>

<body>
    <div class="main">
        <div class="left-div">
            <div class="circle"></div>

        </div>

        <div class="right-div">

            <form method='POST' action="">

                <div class="text">
                    <h1>Welcome Back</h1>
                    <h4>Sign in to continue your progress</h4>
                </div>
                <label for="email">Email / Username:</label>
                <input type="email" id="email" name="email" required>

                <label for="email">Password:</label>
                <input type="password" id="password" name="password" required>
                <div style="display: flex; max-width: 90%; justify-content: space-between;">

                    <label for="remember">
                        <input type="checkbox" id="remember" name="remember">
                        Remember me
                    </label>

                    <a href="#">Forgot password?</a>
                </div>

                <input type="submit" value="Sign In">
            </form>

            <div  style="text-align: center;" class="alternative">

                <h4>OR LOGIN WITH</h4>
                <div class="socials">
                    <div class="instagram"> <img src="{% static 'images/instagram.png' %}" alt=""></div>
                    <div class="facebook"><img src="{% static 'images/facebook.png' %}" alt=""></div>
                    <div class="google"><img src="{% static 'images/google.png' %}" alt=""></div>
                    <div class="twitter"><img src="{% static 'images/twitter.png' %}" alt=""></div>
                </div>
            </div>


        </div>
    </div>


</body>

</html>